<div class="jumbotron">
    <h1>This is an application made for Funda.nl</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Top agents in Amsterdam</h2>
        <p>
            Take the top 10 agents in Amsterdam
        </p>
        <p>@Html.ActionLink("Top Agents", "TopAgents", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Top agents in Amsterdam with Garden</h2>
        <p>
            Take the top 10 agents in Amsterdam with garden
        </p>
        <p>@Html.ActionLink("Top Agents With Garden", "TopAgentsWithTuin", "Home")</p>
    </div>
</div>